.footer-section {
    padding-left: 25vh;
    padding-right: 25vh;
}
.newletterbutton {
    text-align: center;
}

.hr {
    margin-top: 25vh;
}

.twitter {
    padding-right: 5vh;
}

.tiktok{
    padding-right: 5vh;
}