.nft-page {
    text-align: center;
}

.nft-card{
    height: "350px";
    width: "300px";
    background-color: "white";
    border-radius: "10px";
    box-shadow: "0 0 10px 0 rgba(0, 0, 0, 0.1)";
    margin: "10px";
    border: "2px solid #414141"

}

.unlist{
    display: "flex";
    justify-content: "center";
    list-style: "none";
    flex-direction: "column";
    align-items: "center";
}

.nft-img{   
    height: "200px";
    width: "100%";
    border: "2px solid #eaeaea",
}

.nft-address {
    font-size: "12px";
    color: "grey";
}